{% extends 'base.html.twig' %}

{% block title %}Modifier le Projet{% endblock %}

{% block body %}
    <h1>Modifier le Projet</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}

    <a href="{{ path('projet_index') }}">Retour à la liste des projets</a>
{% endblock %}
